body {
  text-align: center;
  background-position: center;
  background-image:url(http://thumbs.dreamstime.com/z/fond-fantastique-de-place-de-cirque-de-couleur-46588673.jpg);
  font-family: helvetica;
  color: white;
  margin: 0px
}
p {
  font-size: 22px;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
input[type="submit"] {
  background: black;
  color: white;
} 
footer{
 position: fixed;
 left: 0px;
 bottom: 0px;
 height: 30px;
 width: 100%;
 color: rgb(255,255,255, 1);
 background-color: rgba(238, 212, 126, 0);
 
}

.banniere2 { 
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

.nav { 
  padding: 10px;
  width:652px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 100px;
  
} 



.nav a{
    width: 163px;
	height:67px;
    line-height: 50px;
    text-decoration: none;
    display: block;
    text-align: center;
    vertical-align: middle;
    color: white;
    float: left;
	
	

}

.ombre {
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.99);
	color: #FCFCFC;
	font-size: 15pxpx;
}

.ombretwo {
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.99);
	color: #FCFCFC;
	font-size: 15pxpx;
}

.ombrethree {
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.99);
	color: #FCFCFC;
	font-size: 15px;
}


.perform {
	text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.99);
	color: #FCFCFC;
	font-size: 15px;
}



@font-face {
 font-family:"Sim hei";
 src: url('../font/simhei_0.ttf');
 font-style: normal;
 font-stretch: normal;
}
.ombre{
font:20px "Sim hei",Verdana,Segoe,sans-serif;
}

@font-face {
 font-family:"Sim hei";
 src: url('../font/simhei_0.ttf');
 font-style: normal;
 font-stretch: normal;
}
.ombretwo{
font:20px "Sim hei",Verdana,Segoe,sans-serif;
}


@font-face {
 font-family:"Sim hei";
 src: url('../font/simhei_0.ttf');
 font-style: normal;
 font-stretch: normal;
}
.ombrethree{
font:20px "Sim hei",Verdana,Segoe,sans-serif;
}


@font-face {
 font-family:"Sim hei";
 src: url('../font/simhei_0.ttf');
 font-style: normal;
 font-stretch: normal;
}
.perform{
font:20px "Sim hei",Verdana,Segoe,sans-serif;
}


#program{ background: url(../img/boutonhome.jpg) no-repeat;}
#performances{ background: url(../img/boutonperf.jpg) no-repeat;}
#dates{ background: url(../img/boutondates.jpg) no-repeat;}
#prices{ background: url(../img/boutonprice.jpg) no-repeat;}




#texteopaque {
   width: 1040px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(255, 255, 255, 0.7);
   padding-top:50px;
  
   
    
   
}

#article {
   width: 1040px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(255, 255, 255, 0.7);
   padding-top:50px;
  
   
    
   }
   
   
#elephant
{
	float: left;
	
}

	


#article {
   width: 1040px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(255, 255, 255, 0.7);
   padding-top:50px;
  
   
} 

#performance {
   width: 1040px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(255, 255, 255, 0.7);
   padding-top:50px;
  
   
    
}

#john {
   width: 1040px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(255, 255, 255, 0.7);
   padding-top:50px;
  
} 

#ticket
{
	float: right;
	
}

#clown {
   width: 1040px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(255, 255, 255, 0.7);
   padding-top:50px;
  
} 

#trapez {
   width: 1040px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(255, 255, 255, 0.7);
   padding-top:50px;
   
   
} 


#content {
   width: 1040px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(255, 255, 255, 0.7);
   padding-top:50px;
   
   
} 
